html,
body {
  height: 100%;
  margin: 0;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, black 50%, white 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.3;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.video-background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content h1,
h4 {
  color: black;
}

.wd-home-info {
  display: flex;
  align-items: center;
  justify-content: center; /* To center both items horizontally */
  gap: 20px; /* Optional: To add some spacing between the image and text */
}

.wd-padding-right {
  padding-right: 20px;
}

.wd-text-style {
  text-align: left;
  padding-right: 20px;
}

.wd-span1-desktop {
  font-size: 30px;
  font-family: ui-serif;
  /* text-transform: uppercase; */
  font-weight: bold;
}

.wd-span2-desktop {
  font-size: 60px;
  font-family: ui-serif;
  /* text-transform: uppercase; */
  font-weight: bold;
}

.wd-span3-desktop {
  font-size: 20px;
  font-family: ui-serif;
  /* text-transform: uppercase; */
  font-weight: bolder;
}

.wd-span1-mobile {
  font-size: 30px;
  font-family: ui-serif;
  align-items: center;
  /* text-transform: uppercase; */
  font-weight: bold;
}

.wd-span2-mobile {
  font-size: 40px;
  font-family: ui-serif;
  /* text-transform: uppercase; */
  font-weight: bold;
}

.wd-span3-mobile {
  font-size: 20px;
  font-family: ui-serif;
  /* text-transform: uppercase; */
  font-weight: bolder;
}

.wd-margin-top {
  margin-top: 20px;
}

.wd-rounded-circle {
  border-radius: 50%;
  width: 50%;
  border-style: solid;
  border-color: black;
  border-width: 15px;
}

.wd-rounded-circle-mobile {
  border-radius: 50%;
  width: 50%;
  border-style: solid;
  border-color: black;
  border-width: 5px;
}